@import "utilities/_variables.sass"


.tweet-article
  background-color: $contentBG
  max-width: 100%
  margin: 2em 2em auto
  +border-styling(10px, $border)
  opacity: 0.75

a
  color: $primaryFontColor

.tweet-article
  p, h2
    opacity: 0.75
  

  header
    background-color: #503F59
    padding: 1em
    border-top-right-radius: 10px
    border-top-left-radius: 10px
    color: #fff

  img 
    display: inline
    width: 50px
    height: 50px
    border-radius: 10px

  article
    padding: 1em
    word-break: break-all


  h2 
    padding-left: 5px
    margin: 0 auto
    display: inline-block
    vertical-align: top
    font-size: 1.3em
  header p
    display: inline-block
    float: right
    vertical-align: top
    margin: 0
    font-size: .5
  
  footer
    margin: 0 auto
    border-bottom-right-radius: 10px
    border-bottom-left-radius: 10px
    background-color: $tweetBG
    padding: 1em
    width: 100%

  footer p
    margin: 0
    display: inline-block
    float: left

  footer .social
    text-align: right

  footer i
    display: inline-block


.social
  opacity: 0
  a
    padding-left: 5px

.img-container
  max-height: 100%

@media only screen and (max-width: 785px)
  .tweet-article
    div
      max-height: 100%
    header .handle
      float: right
      font-size: .5em
      vertical-align: text-bottom
    h2
      float: none
      font-size: 1em
    .social
      max-width: 100%



